
code {
	font-size: .8em;
	/* display: block; */
	white-space: pre-wrap;
}


html, body {
	background: #191b22;
	color: #fff;
}



.editor {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* .btn { */
/* 	margin: 0 1.5em 0 1.5em; */
/* } */

.edit-project {
	margin-top: 2em;
	margin-bottom: 2em;
}


.minwidth {
	min-width: 150px;
}


img {
	width: auto;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	overflow: hidden;
}

/* Sortable tables */
table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;
}

table.sortable td {
	font-size: .8em;
	font-family: "arial"
}

.input-form {
	clear: right;
}

table .text-ellipsis {
	max-width: 150px;
}

li {
    /* padding: .5em; */
}

.secrets {
	padding: 1em;
}

.password {
	font-size: 1.5;
	padding: 1em;
	/* display: inline-block; */
}


.navbar-text {
	margin-top: 22px;
}

.password .content {
	font-size: 1em;
}

.slices {

}

.slices ul {
	list-style: none;
}

.slices .content {
	font-size: .5em;
}

/* .qrcode {
    float: left;
    margin-left: -19px;
} */


.card {
	padding: 20px;
    border-radius: 4px;
    background: #282c37;
	border: none;
}

.card .divider-vert[data-content]::after, .divider[data-content]::after {
	background: #282c37
}

.form-input {
	box-sizing: border-box;
    font-size: 16px;
    color: #fff;
    display: block;
    width: 100%;
    outline: 0;
    font-family: inherit;
    resize: vertical;
    background: #131419;
    border: 1px solid #0a0b0e;
    border-radius: 4px;
	padding: 10px;
	height: 40px;
}
/* UPDATED STYLE */
.header {
	/* background: #f3f3f7; */
    margin-top: 24px;
    margin-bottom: 16px;
    padding: 8px;
    border-radius: 4px;
}

.header .navbar-section .btn:first-of-type {
	background: transparent;
    margin-right: 8px;
}

.header .navbar-brand {
	font-weight:  600
}

.login-card .card-header {
	text-align: left
}

.stats_title {
	margin-top: 0 !important;
}

.flex {
	display: flex
}
.stat {
	margin-right: 40px;
}

.stat h3 {
	font-size: 20px;
    font-weight: 700;
    display: block;
    margin: 0;
}

.stat span {
	font-size: 14px;
    color: #9baec8;
}

.footer {
	width: 100%;
    height: 216px;
    line-height: 1.5;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer_container {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

footer .navbar-section a img {
	margin-left: 36px
}



.wallet-card {
	
}

.wallet-card .avatar {
	border-radius: 6px;
	width: 50px;
	height: 50px;
}

.wallet-card .avatar img {
	border-radius: 6px;

}

.wallet-card .panel-title {
	font-size: 32px;
	color: white;
}

.wallet-card .panel-subtitle {
	font-size: 16px;
    color: #9baec8;
    /* margin-top: 8px; */
    display: flex;
    align-items: center;
}

.wallet-card .panel-subtitle i {
	margin-right: 8px;
}

.balance {
    padding: 16px;
    margin-top: 16px;
}

.balance h2 {
	margin: 0;
	font-size: 16px;
}

.balance h3 {
	margin: 0;
}

.balance h4 {
	font-size: 12px;
    text-transform: uppercase;
    font-weight: 800;
}

.qrcode img {
  margin: 0 auto;
  text-align: center;
  display: block;
}

.transactions {
	border-radius: 4px;
	background: #282c37;
}
.transactions .pagination {
	margin: 0;
    padding: 16px;
    /* padding-top: 0; */
    padding-top: 8px;
}
.transactions h3 {
	margin: 0;
	padding: 16px;
	font-size: 16px;
	background: #313543;
}
.feeds {
	margin-top: 24px;
	
}

.divider {
	border-top: .05rem solid #f1f3f517;
}

.feeds .feed {
	padding: 16px;
    padding-bottom: 0;
}

.feed .divider {
	border-top: .05rem solid #e8e8e8;
}

.feed p.tile-title {
	margin-bottom: 0;
}

.feed p.tile-subtitle {
	margin: 0;
}

.feed .text-gray {
	margin-top: 5px;
    font-size: 14px;
    margin-right: 16px;
}

.transactions .filter-nav {
	padding: 16px;
    padding-bottom: 0;
}

.filter .filter-nav {
  margin: .4rem 0;
  padding-top: 16px;
}

.filter .filter-body {
  display: flex;
  display: -ms-flexbox;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.maxwidth {
	max-width: 200px;
}


.btn.btn-link.active, .btn.btn-link:active, .btn.btn-link:focus, .btn.btn-link:hover {
	color: #419bdd
}

a, a:visited {
	color: #2b90d9;
}

.btn:focus, .btn:hover {
	border-color: #419bdd;
}

.btn.btn-primary:focus, .btn.btn-primary:hover {
    background: #419bdd;
    border-color: #419bdd;
    color: #fff;
}

.btn {
	border-radius: 3px;
	border: .05rem solid #2b90d9;
	color: #2b90d9;
}
.table.table-striped tbody tr:nth-of-type(odd) {
    background: #2e313c;
}
.homepage-card {
	padding: 0;
	margin-top: 32px;
	background: #eaeaea;
}

.menu .menu-item>a {
	color: #191b22;
}

.chip {
	background: #3f475a;
}
.balance-subtitle {
	font-size: 18px;
    font-weight: 700;
    color: white;
    margin-top: 4px;
}

.homepage-card .card-body {
	padding: 8px;
}

.homepage-card .form-input {
	background: #ffffff;
	border: 1px solid #e4e4e4;
	color: #191b23;
}
.btn.btn-primary {
	background: #2b90d9;
    border-color: #2b90d9;
}

.btn.btn-link {
	color: #2b90d9;
	border-color: transparent
}

.info .chip {
	margin-left: 8px;
    background: brown;
}

.info-login .card-image img {
	/* width: 300px; */
    margin: 0 auto;
    /* margin-top: 16px; */
}

.card-info {
	display: flex;
}
.info {
	margin-left: 16px;
}
.info .panel-title {
	font-size: 16px;
}
footer {
	margin-top: 60px;
}


select {
	color: #191b23 !important
}


footer .footer_container .logo {
	width: 300px;
}

.links a {
	margin-right: 25px;
	opacity: 0.6;
}

.links a:hover {
	opacity: 1;
}

.links a img {
	width: 25px;
}

.card.info-login {
	padding: 0;
}

.admins_list {
	padding: 16px;
}

.admins_list h6 {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 13px;
	color: #9baec8;
	margin-top: 32px;
    margin-bottom: 16px;

	
}

.admins_list .list_item {
	display: flex;
    align-items: center;
}

.admin_info {
	margin-left: 8px
}

.admins_list .list_item h5 {
	margin: 0;
    font-size: 15px;
    text-transform: capitalize;
}
.admins_list .list_item h4 {
	margin: 0;
    font-size: 16px;
    color: color: #9baec8;
    color: #9baec8;
    font-weight: 400;
    margin-top: 4px;
}

/* RESPONSIVE */
@media screen and (max-width: 840px) {
	.card-info {
		align-items: center;
		background: #282c37;
		padding: 16px;
		border-radius: 4px;
		margin-bottom: 8px;
		align-content: center
	}

	
	.qrcode {
		margin: 0 auto;
		float: none !important;
		width: 250px;
		text-align: center;
		height: 250px;
		display: block;
	}
  }